<nav class="navbar navbar-dark navbar-expand-sm bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/user/basemap">Emergency Management</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <% if (user) { %>
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="/user/basemap"
            >Home</a
          >
        </li>
        <% } %>
      </ul>

      <ul class="navbar-nav ms-auto">
        <% if (!user) { %>
        <li class="nav-item">
          <a class="nav-link" href="/user/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/register">Register</a>
        </li>
        <% } else { %>
        <li class="nav-item">
          <a class="nav-link" href="/user/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/logout">Logout</a>
        </li>
        <%}%>
      </ul>
    </div>
  </div>
</nav>
